html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;

    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.app {
    display: flex;
    flex: 1;
}

.app__content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.app__main {
    flex: 1;
    display: flex;
    margin: 15px;
    margin-top: 0;

}

.app__main div {
    flex: 1;
    overflow-y: scroll;
}

.app__sidebar {
    flex: none;
    width: 200px;
    border-right: 1px solid @grey;
    transition: margin ease-out 500ms;
    padding-top: 15px;
}

.app__header {
    flex: none;
    height: 47px;
    display: flex;
    border-bottom: 1px solid @grey;
}

.sidebar__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header__icon {
    margin-left: 15px;
}

.sidebar__item {
    flex: 1;
    display: flex;
    height: 42px;
    color: @black;
    padding-left: 15px;

    a {
        color: black;
        text-align: center;
        line-height: 42px;
        &:hover {
            color: #0778C1;
        }
    }

    &:hover {
        background-color: @grey;
    }
}

.sidebar__item__icon {
    margin-right: 5px;
}

.workout {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex: 1;
    border-bottom: 1px solid @grey;

    cursor: pointer;
}

.workout__header {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.workout__information {
    color: @grey-dark;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.workout__suffer {
    text-align: center;
}